@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search__bar {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    max-width: 375px;
}

.search__input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 8px;
}

.search__btn {
    height: 100%;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: rgb(245, 82, 82);
}

.container {
    display: flex;
    justify-content: center;
    padding: 0 96px;
}

.row {
    width: 100%;
    max-width: 1200px;
}

/* 

NAVBAR

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #51ecf1;
    color: #000;
    font-size: 1.2rem;
    width: 100%;
    height: 120px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav__logo--wrapper {
    height: 100%;
}

.nav__logo {
    max-width: 100%;
}

.nav__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__icon--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
}

.nav__icon {
    height: 50px;
    width: 50px;
}

/* 

LANDING PAGE

*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #51ecf1;
    color: #000;
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
    width: 100%;
    background-color: #51ecf1;
    color: #000;
}

.header__title {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 16px;    
}

.header__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 12px;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    color: #000;
}

.front__btn {
    border: 1px solid #000;
    border-radius: 20px;
    background-color: rgb(245, 82, 82);
    width: 25%;
}

.header__img--wrapper {
    max-height: 75%;
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.header__img {
    max-height: 650px;
    max-width: 1200px;
    border: 1px solid #000;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65);
}

/* 

STARTERS PAGE

*/

#genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #51ecf1;
    color: #000;
}

.genre__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
}


.genre__img {
    max-height: 250px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 8px;
    background-color: rgb(56, 55, 54);
    transition: all 600ms ease;
}

.genre__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1250px;
}

.genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% / 3);
    width: calc(100% / 3);
    color: #000;
    padding: 8px;
}

.genre__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #000;
    border-radius: 25px;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.65);
}

.genre__wrapper:hover .genre__description {
    opacity: 1;
    transform: translateY(-50%);
}

.genre__wrapper:hover .genre__img {
    filter: blur(5px);
}

.genre__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.genre__wrapper:hover .genre__bg {
    opacity: 0.7;
}

.genre__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 300ms;
    border-radius: 25px;
}

.region {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.genre {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

/* 

CARDS.HTML OVERLAY

*/

#movie__shop {
    background-color: #51ecf1;
    color: #000;
}

.overlay {
    background-color: #51ecf1;
    color: #000;
    position: relative;
    height: 120px;
    width: 100%;
}

.overlay__content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.overlay__logo--wrapper {
    height: 100%;
}

.overlay__logo {
    height: 100%;
    max-width: 100%;
    padding: 16px;
    animation: moveUpDown 5s linear infinite;
}

.overlay__banner--wrapper {
    height: 100%;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
}


@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-47%);
}

.shop__btn {
    border-radius: 20px;
    background-color: rgb(245, 82, 82);
    width: 50%;
}

/* 

Movies Page

*/

.page__bg {
    height: 100vh;
    background-color: #51ecf1;
    color: #000;
}

.page__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: bisque;
}

.search__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000;
    padding: 48px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.movie-card img {
    max-width: 100%;
    height: auto;
}